﻿.scroll-wrapper {
    overflow-x: scroll;
    /*scroll-snap-type: x mandatory;*/
    .calendar-container {
        width: max-content;
        display: inline-flex;

        .calendar-wrapper {
            /*scroll-snap-align: start;*/
            .calendar-widget {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                place-items: start;
                grid-gap: 10px;
                padding: 10px;
                width: 100%;

                .calendar-item {
                    background: orange;
                    width: 100%;
                    border: 1px solid black;

                    &.marked {
                        background-color: mediumaquamarine;
                    }

                    &::before {
                        content: "";
                        display: inline-block;
                        width: 1px;
                        height: 0;
                        padding-bottom: calc(100% - 35px);
                    }
                }
            }
        }
    }
}

.scroll-blocker {
    height: 10px;
    position: relative;
    top: -10px;
    background-color: white;
}

.confirmation-box-wrapper {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(5px);

    .confirmation-box {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        background-color: white;
        padding: 3vh;
        border: 3px solid gray;

        h2 {
            white-space: nowrap;
            font-size: 4vh;
        }

        button {
            width: 100%;
        }
    }
}
